/* Default */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOz8mM.ttf) format('truetype');
}
/* Font and Color */
.header {
  font-family: Russo One, sans-serif;
  font-size: 14px;
  color: white;
  background-color: #1E2B33;
}
#editor {
  font-family: Menlo, sans-serif;
  font-size: 14px;
  color: black;
  background-color: #EBEDEF;
}
#preview {
  font-size: 16px;
  color: black;
  background-color: #EBEDEF;
}
/* Body */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
  height: -webkit-fill-available;
}
body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
body {
  margin: 0;
  height: inherit;
  background-color: #666F74;
}
/* Container */
.container {
  margin: 15px;
  width: 50%;
}
.container + .container {
  margin-left: 0;
}
/* Header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header {
  height: 30px;
  padding: 8px;
  border: 1px solid black;
  box-shadow: 0 0 8px 2px #363b3e;
  position: relative;
  z-index: 1;
}
.header .icon {
  font-size: 18px;
  margin-left: 1px;
  margin-right: 6px;
}
.header .button {
  margin-left: auto;
}
/* View */
.view-wrapper {
  height: calc(100% - 30px);
  margin: 0;
  box-shadow: 0 0 8px 2px #363b3e;
  border: 1px solid black;
  border-top: none;
}
.view-wrapper .view {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
}
.view-wrapper .view::after {
  content: '';
  padding: 5px;
}
.view-wrapper #editor {
  border-radius: 0;
  outline: none !important;
  resize: none;
}
/* Resize */
.maximized {
  margin: 15px !important;
  width: calc(100% - 30px) !important;
}
.minimized {
  display: none !important;
}
