/* default */

@colors: {
  background: #666F74;
  header: #1E2B33;
  view: #EBEDEF;
}
@size: {
  narrow: 1100px;
  mobile: 460px;
}
@font-face {
  font-family: 'Belwe Bold';
  src: url('img/Belwe Bold.otf');
}

/* Body */

*,
*::before,
*::after {
  box-sizing: border-box;
}