/* Default */

@colors: {
  body: #666F74;
  header: #1E2B33;
  view: #EBEDEF;
}
@size: {
  narrow: 720px;
}

@shadow: 0 0 8px 2px darken(@colors[body], 20%);
@border: 1px solid black;

@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

/* Font and Color */

.header {
  font-family: Russo One, sans-serif;
  font-size: 14px;
  color: white;
  background-color: @colors[header];
}
#editor {
  font-family: Menlo, sans-serif;
  font-size: 14px;
  color: black;
  background-color: @colors[view];
}
#preview {
  font-size: 16px;
  color: black;
  background-color: @colors[view];
}

/* Body */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
  height: -webkit-fill-available;
}
body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
body {
  margin: 0;
  height: inherit;
  background-color: @colors[body];
}

/* Container */

.container {
  margin: 15px;
  width: 50%;
}
.container + .container {
  margin-left: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header {
  height: 30px;
  padding: 8px;
  border: @border;
  box-shadow: @shadow;
  position: relative;
  z-index: 1;
  .icon {
    font-size: 18px;
    margin-left: 1px;
    margin-right: 6px;
  }
  .button {
    margin-left: auto;
  }
}

/* View */

.view-wrapper {
  height: calc(100% - 30px);
  margin: 0;
  box-shadow: @shadow;
  border: @border;
  border-top: none;
  border-radius: 0;
  .view {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    overflow-y: scroll;
    &::after {
      content: '';
      padding: 5px;
    }
  }
  #editor {
    outline: none !important;
    resize: none;
  }
}

/* Resize */

.maximized {
  margin: 15px !important;
  width: calc(100% - 30px) !important;
}
.minimized {
  display: none !important;
}
